<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
		<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>


	<UnicastBusConfig>
		<MessageEndpointMappings></MessageEndpointMappings>
	</UnicastBusConfig>
	<MessageForwardingInCaseOfFaultConfig ErrorQueue="mating.service.error" />
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="logDir" value="${basedir}/../logs" />
		<targets>
			<target name="NServiceBusLog" xsi:type="File" fileName="${logDir}/MatingService.log" archiveFileName="${logDir}/archives/MatingService.{#####}.log" layout="${longdate}|${level:uppercase=true}|NServiceBus - ${message}" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="14" />
			<target name="MatingServiceLog" xsi:type="File" fileName="${logDir}/MatingService.log" archiveFileName="${logDir}/archives/MatingService.{#####}.log" layout="${longdate}|${level:uppercase=true}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="14" />
			<target name="Console" xsi:type="ColoredConsole" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="MatingServiceLog" />
			<logger name="*" minlevel="Trace" writeTo="Console" />
		</rules>
	</nlog>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="dotnettrace" type="NLog.NLogTraceListener, NLog" />
			</listeners>
		</trace>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NServiceBus" publicKeyToken="9fc386479f8a226c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<netMsmqBinding>
				<remove name="NetMsmqBinding_IOneWayAsyncTxn" />
				<binding name="NetMsmqBinding_IOneWayAsyncTxn">
					<security mode="None" />
				</binding>
			</netMsmqBinding>
		</bindings>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<add name="AnimalDB2_redundant" providerName="IBM.Data.DB2" connectionString="Server=LIC-DB2-RH-DEV.dsldev.local:50000;Database=LICTP;Uid=db2inst1;Pwd=Datac0m;" />
	</connectionStrings>
</configuration>