<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="LIC.Library.Composition" version="3.2.3" targetFramework="net45" />
  <package id="LIC.Library.Composition.Ninject" version="2.4.0" targetFramework="net45" />
  <package id="LIC.Library.Composition.Plugin.Markers" version="1.0.1" targetFramework="net45" />
  <package id="LIC.Library.Composition.PluginMonitor" version="2.0.1" targetFramework="net45" />
  <package id="LIC.Library.FeatureToggles.PermissionChained.Markers" version="0.2.2.0" targetFramework="net45" />
  <package id="LIC.Library.FileSystem" version="1.0.0.0" targetFramework="net45" />
  <package id="LIC.Library.FileSystem.FileWatcher" version="1.2.3" targetFramework="net45" />
  <package id="LIC.Library.IoC.Markers" version="0.2.1.0" targetFramework="net45" />
  <package id="LIC.Library.Logging.Log4NetToNLog" version="1.0.6.0" targetFramework="net45" />
  <package id="LIC.Library.Logging.Markers" version="1.0.1.0" targetFramework="net45" />
  <package id="LIC.Library.Logging.NLog" version="1.1.2.0" targetFramework="net45" />
  <package id="LIC.Library.Messaging" version="3.6.3.0" targetFramework="net45" />
  <package id="LIC.Library.Messaging.Markers" version="2.3.1" targetFramework="net45" />
  <package id="LIC.Library.Minda.Core" version="1.3.0" targetFramework="net45" />
  <package id="LIC.Library.Minda.Core.Domain" version="1.6.0" targetFramework="net45" />
  <package id="LIC.Library.Serialisation.Xml" version="0.3.1.0" targetFramework="net45" />
  <package id="LIC.Library.Validation" version="3.1.0" targetFramework="net45" />
  <package id="LIC.MINDAWeb.Calendar.Commands" version="1.0.0.0" targetFramework="net45" />
  <package id="LIC.Services.AnimalCharacteristic.Commands" version="2.1.0.0" targetFramework="net45" />
  <package id="LIC.Services.AnimalGroupMembership.Commands" version="2.3.0" targetFramework="net45" />
  <package id="LIC.Services.AnimalIdentity.Calendar.Commands" version="1.1.0" targetFramework="net45" />
  <package id="LIC.Services.AnimalRecordsCompliance.Commands" version="1.1.0" targetFramework="net45" />

  <package id="LIC.Services.ITOperations.AnimalCompliance.WebApi.Contracts" version="0.2.3.0" targetFramework="net45" />
  <package id="LIC.Services.ITOperations.AnimalGroupMembership.WebApi.Contracts" version="0.2.3" targetFramework="net45" />
  <package id="LIC.Services.ITOperations.AnimalIdentity.WebApi.Contracts" version="0.1.3" targetFramework="net45" />
  <package id="LIC.Services.ITOperations.EventProcessing.Commands" version="1.0.4-alpha" targetFramework="net45" />
  <package id="LIC.Services.ITOperations.EventProcessing.Contract" version="1.2.0.0" targetFramework="net45" />
  <package id="LIC.Services.ITOperations.EventProcessing.Events" version="1.0.26-alpha" targetFramework="net45" />
  <package id="LIC.Services.ITOperations.EventProcessing.Plugin.Contracts" version="1.0.0.0" targetFramework="net45" />
  <package id="LIC.Services.ITOperations.Mating.WebApi.Contracts" version="2.8.0" targetFramework="net45" />
  <package id="LIC.Services.Mating.Commands" version="1.2.2.0" targetFramework="net45" />
  <package id="LIC.Services.Mating.Events" version="0.29.0.0" targetFramework="net45" />
  <package id="LIC.Services.SalesOrderManagement.Commands" version="1.0.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.0.8" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.0.1.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging.nlog2" version="3.0.1.0" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" targetFramework="net45" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net45" />
  <package id="NServiceBus" version="3.3.8" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="3.3.8" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="3.3.5" targetFramework="net45" />
  <package id="NServiceBus.Ninject" version="3.3.8" targetFramework="net45" />
  <package id="SplunkSDK" version="1.0.2" targetFramework="net45" />
</packages>